body {
    font-family: 'Arial', sans-serif;
}

.navbar {
    margin-bottom: 20px;
}

footer {
    margin-top: 50px;
    padding: 20px 0;
    background-color: #f8f9fa;
}

.form-check {
    padding-right: 1.5em;
}

.form-check .form-check-input {
    float: right;
    margin-right: -1.5em;
}